/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: #49a6e9;
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(124, 37%, 85%);
	--clr-gold: #c59d5f;
	--clr-black: #222;
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.125rem;
	--radius: 0.5rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-secondary);
	background: #131419;
	line-height: 1.5;
	font-size: 0.99rem;
	display: grid;
	place-items: center;
	height: 100vh;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: dotted;
}
img:not(.logo) {
	width: 100%;
}
img {
	display: block;
}

h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: var(--ff-primary);
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.2rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1.1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

/*
=============== 
game point
===============
*/

#container {
	height: auto;
	width: auto;
	background: linear-gradient(to bottom, #2b2d47 10%, #181926);
	border-radius: 20px;
	padding: 40px;
	box-shadow: inset 1px 2px 0px rgb(255 255 255 / 20%),
		inset -2px -2px 2px rgb(0 0 0 / 65%);
}

#startingPage {
	height: 220px;
	width: 400px;
	display: block;
}

#startingPage h2,
#winner h2 {
	color: #cdcfdb;
}

#startingPage #line {
	height: 1px;
	width: 100%;
	background: #c3cfdb;
	margin: 20px 0;
}

#startingPage h3 {
	color: #b9b9c5;
}

#startingPage #button,
#winner #button {
	height: auto;
	width: 100%;
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

#startingPage #button button,
#winner #button button {
	height: 50px;
	width: 130px;
	font: bold 1rem "georgia";
	background: #29cde0;
	border-radius: 1.8rem;
	outline: 0;
	border: 0;
	transition: var(--transition);
	/* box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 2px 5px rgb(0 0 0 / 87%); */
	cursor: pointer;
}

#startingPage #button button:hover,
#winner #button button:hover {
	scale: 0.92;
}

#winner {
    display: none;
}

#winner #button {
	justify-content: center;
}

#mainPage {
	height: 85vh;
	width: 310px;
    padding: 20px;
    position: relative;
	display: none;
}

#mainPage #headerBtns {
    height: 60px;
    width: 300px;
    position: relative;
    display: flex;
    place-items: center;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 70%)
}

#mainPage #headerBtns button {
    height: 60px;
    width: 150px;
    border-radius: 5rem;
	outline: 0;
	border: 0;
    background: transparent;
    color: #fff;
    font: bold 1rem 'var(--ff-secondary)';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#mainPage #headerBtns button#O_Turn {
    left: 150px;
}

#mainPage #headerBtns #showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 150px;
    border-radius: 5rem;
    background: #29cde0;
    z-index: 1;
    transition: var(--transition)
}

#gameBoard {
    height: 60vh;
    width: 290px;
    position: absolute;
    top: 100px;
    left: 5px;
    display: grid;
    place-items: center;
    grid-template-columns: 90px 90px 90px;
    grid-gap: 0 10px;
}

#gameBoard .box {
    height: 60px;
    width: 70px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 20%), -2px -2px 5px rgb(0 0 0 / 50%);
    display: grid;
    place-items: center;
    font: Bold 3rem 'helvetica';
    color: #29cde0;
    cursor: pointer;
}